html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: #333;
  padding: .4em;
  border: 3px solid #333;
  border-radius: 8px;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  padding: .4em;
  border: 3px solid #ccc;
  border-radius: 8px;
}

.btn-subtle:hover {
  background-color: #666;
  border: 3px solid #666;
}





.btn-norm {
  font-size: 1.15rem;
}
